.contactform{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contactform form{
    display: flex;
    flex-direction: column;
    
   
    
    padding: 50px 300px;
    
    color: var(--backgroundColor);
}
.contactform form input{
    width: 340px;
    padding: 10px;
    border-radius: 5px;
    border: .4px solid grey;
}
.contactform  .message{ 
  height: 100px;
  margin-bottom: 20px;
}
.contactform form button{
    background: var( --backgroundColor);
    color: var(--text-color);
    width: 100px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.contactform h3{
    padding-top: 20px;
}
label{
    margin: 10px 0 10px 0;
}


@media (max-width: 800px){
    .contactform form{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        border: none;
       
        background: #fff;
        color: #333;
        padding: 0;

    }
    .contactform{
        min-height: 60vh;
    }
    .contactform form button{
        background: var(--backgroundColor);
        color: var(--text-color);
    }
}